@media screen and (max-width: 1024px) {
    /*      **********************************      HEADER BLOCK     *************************      */
    .header__block {
        width: 670px;
    }

    /*      ********************************** First secion   ********************************** */

    .main {
        width: 748px;
    }
    .dreamshare__photo {
        width: 236px;
    }

    /*   *************************************  SECONT SECTION  ************************************** */

    .partners__top-block {
        width: 492px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .partners .partners__box {
        width: 236px;
        margin-top: 35px;
    }

    .partners .partners__bottom-block {
        margin: 40px auto 0;
    }


    /*   **************************************************  THIRD SECTION ********************************** */


    .activity {
        grid-template-columns: 236px 236px 236px;
    }

    /* **********************************************  FOOTER SECTION ********************************* */

    .footer__container {
        width: 670px;
}
}